body {
  font-family: "Nunito", sans-serif;
  background-color: #333333;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  max-width: 100%;
  width: 500px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("../images/header-tokyo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 180px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background-color: #fff;
  border-radius: 2px;
  color: #333333;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 32px;
  padding: 16px 32px;
}

main {
  background-color: #fff;
}

img {
  display: block;
}

main h2 {
  color: #333333;
  opacity: 0.8;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

main h3 {
  color: #333333;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  margin: 0;
}

main p {
  color: #333333;
  opacity: 0.7;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

footer {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../images/footer-tokyo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  margin: 0;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 46px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
